/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/Masonry/Masonry.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/

.Masonry_myMasonGrid__gT1kL { /* Not needed if autoprefixing */ /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.Masonry_myMasonGrid_column__cYnCA {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
.Masonry_grid__lFpf1 {
  display: flex;
  margin-bottom: 16px;
  position: relative;
  border-radius: 10px;
}
.Masonry_grid__lFpf1 > img {
  border-radius: 10px;
}

.Masonry_grid__body__TghfV {
  position: absolute;
  
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 30px 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.Masonry_grid__title__ggpcW {
  font-size: 28px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}

.Masonry_grid__author__xRZcB {
  font-size: 14px;
  font-weight: 300;
}

.Masonry_grid__link__4zcEE {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.Masonry_grid__tag__awBik {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 5px;
}

.Masonry_mt-auto__UpVEf {
  margin-top: auto;
}

